*{
  font-size: 1.25rem;
  margin: 0px;
  padding: 0px;
  color: #f3f4f6;

}
body {

  box-sizing: border-box;
  background-color: #111827;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 36rem;
  margin: 0 auto;
  padding: 20px;
}
h1{
  font-size: 2rem;
  margin: 2rem auto;
}
form {
  width: 100%;
  display: flex;
  gap: 10px;
  align-self: flex-start;
  align-items: center;
}
form input{
  background-color: #374151;
  border-radius: 0.5rem;
  padding-top: 1rem; 
  padding-bottom: 1rem;
  width: 80%;
  font-size: 1.25rem;
  padding-left: 1rem;
  border: none;
}
form input:focus {
  outline: none; 
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
}
form button{
  width: 19%;

}
ul {
  list-style: none;
  padding: 0;
  align-self: flex-start;
  min-width: 100%;
  min-height: 100vh;

}

li {
  display: flex;
  background-color: #374151;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin: 10px 0;
  border-bottom: solid 1px #4b5563;
  border-radius: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 720px;
}
li p{
  width: 80%;
}
li button{
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  
}
li input{
  margin-left: 1rem;
  font-size: 28px; 
}
li p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
button {
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  background-color: #030712;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;

}

button:hover {
  background-color: #1d2c47;
}

button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

